/* * {
    margin: 0;
    padding: 0;
    text-decoration: none;
} */

body {
    scroll-behavior: smooth;
    background-image: url('./image/tekstura-texture-poverhnost-3416.webp');
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1146px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color:rgb(114, 146, 114) ;
}

.backGr {
    background-color: ghostwhite;
}

.title {
    display: flex;
    justify-content: center;
    height: 60px;
    width: auto;
    text-align: center;
}

h1 {
    margin-top: 17px;
    width: 220px;
    height: 43px;
    text-shadow: 2px 2px #b4bb50;
}
.color {
    color: crimson;
}

.color-2{
    color: #e9ef91;
}
.guide {
    height: 26px;
}
p {
    margin-top: 0;
    color: #d3d978;
}
.selected {
    display: flex;
    justify-content: center;
    height: 40px;
    text-align: center;
}
h3 {
    width: 280px;
    height: 26px;
}

.form {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

select {
    width: 180px;
    height: 40px;
    margin-top: 10px;
}

.input-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    height: 40px;
    margin-bottom: 20px;
}
.inputPlace {
    display: none;
    font-size: 20px;
    font-weight: 400;
}
.inputButton {
    display: none;
}
.result {
    height: auto;
    display: flex;
    justify-content: center;
    display: none;
}
.resultAfter {
    height: auto;
    display: flex;
    justify-content: center;
}
ul {
    width: 230px;
    margin-bottom: 20px;
    border: solid 2px black;
    padding: 10px;
}
footer{
    display: flex;
    justify-content: center;
}
.admin {
    height: 40px;
    width: 230px;
    background-color: rgb(95, 93, 93);
    border: solid rgb(202, 207, 124);
    margin-bottom: 8px;
}
.btnAdmin {
    margin-top: 9px;
    background-color: darkgray;
}

.reklama {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.reklama__image {
    width: 800px;
    height: 400px;
    margin-left: -20px;
}
.price {
    color: red;
    font-size: 30px;
    font-weight: bolder;
    margin-left: -120px;
    margin-top: 300px;
}

.href {
    width: 100px;
    height: 100px;
    margin-left: -120px;
    margin-top: 125px;
    margin-top: 63px;
    background-image: url('./image/Telegram.webp');
    animation: rotate 2s linear infinite;
    }

    @keyframes rotate {
        from {transform: scale(1.5);}
        to {transform: rotate(50deg);}
    }
@media (max-width: 767px){
    .container {
        max-width: 375px;
    }
    .title {
        height: 85px;
    }
    h1 {
        width: 180px;
    }
    p {
        margin-top: 7px;
    }
    h3 {
        width: 240px;
        margin-top: 20px;
    }
    .selected {
        height: 60px;
    }
    .reklama__image {
        display: none;  /* убрать рекламу*/
        width: 740px;
    }

    .price {
        margin-left: -70px;
    }
}
